{% extends 'base.html' %}
{% block content %}

<div class="auth-container">
    <h2>Вход</h2>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <!-- Сохраняем next, если он есть -->
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Пароль</label>
        <input type="password" name="password" required>

        <button type="submit">Войти</button>
    </form>

    <p class="switch">
        Нет аккаунта?
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </p>
</div>

{% endblock %}
