{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="gym-detail">
    <div class="gym-card-detail">
        <h2 style="text-align:center;">Запись на тренировку</h2>

        <p><strong>Зал:</strong> {{ training.gym.address }}</p>
        <p><strong>Тренировка:</strong> {{ training.name }}</p>
        <p><strong>Дата:</strong> {{ training.date }}</p>
        <p><strong>Время:</strong> {{ training.training_time }}</p>
        <p><strong>Длительность:</strong> {{ training.duration }} мин</p>
        <p><strong>Начало записи:</strong> {{ training.start_of_recording }}</p>
        <p><strong>Инструктор:</strong> {{ training.instructor.full_name }}</p>

        <form method="post" style="margin-top:20px;">
            {% csrf_token %}
            <div style="text-align:center; margin-top:20px;">
                <button type="submit" class="btn">Записаться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

