{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="network-title" style="text-align:center; margin-bottom:30px;">
    Мои записи
</h1>

<table style="width:100%; border-collapse:collapse; background:#1A1A1A; border-radius:10px; overflow:hidden;">
    <tr style="background:#111;">
        <th style="padding:12px;">Дата</th>
        <th style="padding:12px;">Время</th>
        <th style="padding:12px;">Тренировка</th>
        <th style="padding:12px;">Инструктор</th>
        <th style="padding:12px;">Зал</th>
    </tr>

    {% for r in records %}
        <tr style="border-bottom:1px solid #333;">
            <td style="padding:12px;">{{ r.training.date }}</td>
            <td style="padding:12px;">{{ r.training.training_time }}</td>
            <td style="padding:12px;">{{ r.training.name }}</td>
            <td style="padding:12px;">{{ r.training.instructor.full_name }}</td>
            <td style="padding:12px;">{{ r.training.gym.address }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" style="padding:20px; text-align:center; color:#ccc;">
                У вас пока нет записей
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
