{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title|default:"Fitness Network" }}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<header class="header">
    <div class="container header-inner">
        <div class="logo">

        </div>

        <nav class="nav">
            <a href="{% url 'home_page' %}">Главная</a>
            <a href="{% url 'gyms_list' %}">Залы</a>
            <a href="{% url 'instructors_list' %}">Тренеры</a>
            <a href="{% url 'records:week_trainings' %}">Расписание</a>
            <a href="{% url 'records:my_records' %}">Мои записи</a>
        </nav>

    </div>
</header>

<main class="content container">
    {% block content %}
    {% endblock %}
</main>
{% csrf_token %}
</body>
</html>

